:root {
  --background-color: #fff;
  --color:#121212;
  --social-media-icon-size: 30px;
  --social-media-icon-margin: 15px;
  --theme-mode-transition: 500ms ease;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color:#121212;
    --color: #fff;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--color);
  background-color: var(--background-color);
  transition: color var(--theme-mode-transition);
}

main {
  max-width: 500px;
  padding: 8px;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-family: 'Comfortaa', cursive;
  font-size: 4em;
  letter-spacing: -0.06em;
  line-height: 0.6em;
  margin: 0;
  font-weight: 400;
}

.subtitle {
  margin: 0;
  text-align: right;
  font-weight: 400;
  font-size: 1.3em;
}

.social-media {
  position: absolute;
  bottom: 0;
  right: 0;
}
.social-media a {
  width: var(--social-media-icon-size);
  height: var(--social-media-icon-size);
  margin: var(--social-media-icon-margin);
  text-decoration: none;
  display: inline-block;
}
.social-media a svg {
  width: var(--social-media-icon-size);
  height: var(--social-media-icon-size);
}

.ic-devto, 
.ic-github, 
.ic-linkedin {
  fill: var(--color);
  transition: fill var(--theme-mode-transition);
}

.ic-devto path {
  fill: var(--background-color);
  transition: fill var(--theme-mode-transition);
}